# Book System OS runtime config
BOOK_SYSTEM_ROOT=/opt/book-system
BOOK_API_KEY=change-this-long-random-string
BOOK_ADMIN_USERNAME=admin
BOOK_ADMIN_PASSWORD=change-this-password
BOOK_BIND_HOST=127.0.0.1
BOOK_BIND_PORT=8080
